	<!-- 大米明星单品 -->
	<div class="single-goods">
        <div class="s-lg-title">
          <span class="page-title">明星单品</span>
          <div class="title-more">
            <!-- <a href="javascript:" class="s-prev btn-default"><i class="iconfont">&#xe697;</i></a>
            <a href="javascript:" class="s-next"><i class="iconfont">&#xe6a7;</i></a> -->
            <button mat-icon-button class="s-prev btn-default iconfont">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button class="s-next btn-default iconfont">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
        <div class="sgoods-content">
          <ul class="sgoods-list" style="margin-left: 0; margin-left: 0.5s ease">
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品1</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>  
            </li>
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品2</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li><li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品3</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li><li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品4</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li><li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品5</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品6</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品7</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品8</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品9</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
            <li class="sgoods-item">
              <div class="sgoods-thumb">
                <a href=""><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="" class="title">产品10</a>
              </div>
              <p class="goods-info">4100mAh超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
          </ul>
        </div>
    </div>