<div class="navbar">
  <div>
    <img src="../../../assets/logo.png">
  </div>
  <span class="navbar-spacer"></span>
  <!-- <div class="navbar-menu" *ngFor="let category of categories">
    <app-menu [category]="category"></app-menu>
  </div> -->
  <div class="header-nav">
    <ul class="navlist clearfix">
      <li class="item"><a href="#">小学</a></li>
      <li class="item"><a href="#">初中</a></li>
      <li class="item"><a href="#">高中</a></li>
      <li class="item"><a href="#">物理</a></li>
      <li class="item"><a href="#">化学</a></li>
      <li class="item"><a href="#">传感器</a></li>
      <li class="item"><a href="#">智能硬件</a></li>
      <li class="item"><a href="#">服务</a></li>
      <li class="item"><a href="#">社区</a></li>
    </ul>
  </div>
  <div class="header-search">
    <form class="search-form">
      <input type="text" class="search-text">
      <!-- <input type="submit" class="search-btn iconfont" value="搜索"> -->
      <button mat-icon-button class="search-btn iconfont">
        <mat-icon>search</mat-icon>
      </button>
    </form>	
  </div>
  <!-- <form class="search-form">
    <mat-form-field class="search-form-full-width">
      <input matInpu placeholder="搜索 ..." matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </form>     -->
  <div class="main-nav">
    <div class="container">
      <ul class="mainnav-list clearfix">
        <li class="mainnav-item">
          <div class="product-thumb">
            <a href="#"><img src="https://c1.mifile.cn/f/i/g/2015/cn-index/xm6-320.png" width="160px"></a>
          </div>
          <div class="title">
            <a href="#">大米6</a>
          </div>
          <p class="price">2499元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
        <li class="mainnav-item">
          <div class="product-thumb">
            <a href="#"><img src="https://c1.mifile.cn/f/i/g/2015/cn-index/xm6-320.png" width="160px"></a>
          </div>
          <div class="title">
            <a href="#">大米6</a>
          </div>
          <p class="price">2499元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
        <li class="mainnav-item">
          <div class="product-thumb">
            <a href="#"><img src="https://c1.mifile.cn/f/i/g/2015/cn-index/xm6-320.png" width="160px"></a>
          </div>
          <div class="title">
            <a href="#">大米6</a>
          </div>
          <p class="price">2499元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
        <li class="mainnav-item">
          <div class="product-thumb">
            <a href="#"><img src="https://c1.mifile.cn/f/i/g/2015/cn-index/xm6-320.png" width="160px"></a>
          </div>
          <div class="title">
            <a href="#">大米6</a>
          </div>
          <p class="price">2499元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
        <li class="mainnav-item">
          <div class="product-thumb">
            <a href="#"><img src="https://c1.mifile.cn/f/i/g/2015/cn-index/xm6-320.png" width="160px"></a>
          </div>
          <div class="title">
            <a href="#">大米6</a>
          </div>
          <p class="price">2499元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
        <li class="mainnav-item">
          <div class="product-thumb">
            <a href="#"><img src="https://c1.mifile.cn/f/i/g/2015/cn-index/xm6-320.png" width="160px"></a>
          </div>
          <div class="title">
            <a href="#">大米6</a>
          </div>
          <p class="price">2499元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
