<div mat-toolbar class="site-topbar">
    <div class="topbar-nav">
        <a>心慧商城</a>
        <span class="sep">|</span>
        <a>政企服务</a>
        <span class="sep">|</span>
        <a>选择地区</a>
    </div>
    <div class="topbar-cart" >
    <a class="cart-mini">
        购物车
        <span class="cart-mini-num J_cartNum">（0）</span>
    </a>
        <div class="cart-menu" >
            <div class="loading"><div class="loader"></div></div>
        </div>
    </div>
    <div class="topbar-info" >
        <a class="link" target="_blank">登录</a>
        <span class="sep">|</span>
        <a class="link">注册</a>
        <span class="sep">|</span>
        <span class="message">
            <a>消息通知</a>
        </span>
    </div>
</div>