<!-- 家电 -->
<div class="home-ce clearfix">
    <div class="title">
      <span class="page-title">家电</span>
      <div class="more">
        <a href="javascript:" class="more-text active">热门</a>
        <a href="javascript:" class="more-text">电视影音</a>
        <a href="javascript:" class="more-text">电脑</a>
        <a href="javascript:" class="more-text">家居</a>
      </div>
    </div>
      <ul class="lg-thumb-list clearfix">
        <li class="goods-item left-s-thumb">
          <a href="" class="s-thumb"><img src="holder.js/233x615" alt=""></a>
        </li>
      </ul>
      <ul class="goods-list">
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门1</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
          <div class="product-label">
            <div class="goods-label">新品</div>
          </div>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门2</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门3</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门4</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门5</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门6</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门7</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
            <div class="goods-thumb">
              <a href="#"><img src="img/icon/holder_110.png"></a>
            </div>
            <div class="goods-title">
              <a href="#" class="title">热门8</a>
            </div>
            <p class="goods-info">超长续航，多彩金属</p>
            <p class="goods-price">1440元</p>
          </li>
          <li class="goods-item goods-item-m">
              <div class="goods-thumb">
                <a href="#"><img src="img/icon/holder_110.png"></a>
              </div>
              <div class="goods-title">
                <a href="#" class="title">热门9</a>
              </div>
              <p class="goods-info">超长续航，多彩金属</p>
              <p class="goods-price">1440元</p>
            </li>
        <li class="goods-item goods-item-s">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">热门10</a>
          </div>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <a href="#" class="goods-more">浏览更多 <span>热门</span></a>
          <div class="goods-thumb">
            <a href=""><i class="iconfont">&#xe700;</i></a>
          </div>
        </li>
      </ul>
      <ul class="goods-list list tv-list clearfix">
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视1</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视2</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视3</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视4</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视5</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视6</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视7</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电视8</a>
          </div>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <a href="#" class="goods-more">浏览更多 <span>热门</span></a>
          <div class="goods-thumb">
            <a href=""><i class="iconfont">&#xe700;</i></a>
          </div>
        </li>
      </ul>
      <ul class="goods-list list pc-list clearfix">
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑1</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑2</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑3</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑4</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑5</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑6</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑7</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">电脑8</a>
          </div>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <a href="#" class="goods-more">浏览更多 <span>热门</span></a>
          <div class="goods-thumb">
            <a href=""><i class="iconfont">&#xe700;</i></a>
          </div>
        </li>
      </ul>
      <ul class="goods-list list home-list clearfix">
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居1</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居2</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#" class="title"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居3</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居4</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居5</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居6</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-m">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居7</a>
          </div>
          <p class="goods-info">超长续航，多彩金属</p>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <div class="goods-thumb">
            <a href="#"><img src="img/icon/holder_110.png"></a>
          </div>
          <div class="goods-title">
            <a href="#" class="title">家居8</a>
          </div>
          <p class="goods-price">1440元</p>
        </li>
        <li class="goods-item goods-item-s">
          <a href="#" class="goods-more">浏览更多 <span>热门</span></a>
          <div class="goods-thumb">
            <a href=""><i class="iconfont">&#xe700;</i></a>
          </div>
        </li>
      </ul>
  </div>
