<div class="side-nav">
  <ul class="sidenav-list">
    <li class="side-item"><a href="#">手机 电话卡<i class="iconfont">&#xe6a7;</i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png" class="icon-80"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/xm5_80.png" class="icon-80"><span class="title">大米5X</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/max2_80.jpg" class="icon-80"><span class="title">大米Max2</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/5c_80.png" class="icon-80"><span class="title">大米手机5c</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/xmNOTE2_80.jpg" class="icon-80"><span class="title">大米 Note2</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/MIX_80.jpg" class="icon-80"><span class="title">大米MIX</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/xm5s_80.jpg"><span class="title">大米5s</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/xm5S-plus_80.jpg"><span class="title">大米5s Plus</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/hmn4x_80.png"><span class="title">红米Note 4X</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/hm4x_80.png"><span class="title">红米4X</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/hm4_80.jpg"><span class="title">红米4</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/4G+80.jpg"><span class="title">移动4G+专区</span></a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">笔记本 平板<i class="iconfont">&#xe6a7;</i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">电视 盒子<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">路由器 智能硬件<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">移动电源 电池 插线板<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">耳机 音箱<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">保护套 贴膜<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">线材 支架 存储卡<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">箱包 服饰 鞋 眼镜<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
    <li class="side-item"><a href="#">米兔 生活周边<i class="iconfont"></i></a>
      <div class="children-nav">
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
        <ul class="children-list">
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
          <li><a href="#" class="link"><img src="img/icon/holder_40.png"><span class="title">大米6</span></a><a href="#" class="buybtn">选购</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>